.main{
    width: 100%;
    height: 800px;
    background-color: rgb(218, 134, 24);
    margin: 0%;
  
    background: linear-gradient(transparent, black),
    url(" gor.jpg");
}

*{
    padding: 0%;
    margin: 0%;
}

#main_li{
    margin: 0%;
    text-align: center;
}

.li_main{
    margin:0%;
    padding: 15px;
    display:inline-block;

   
}

.timeto{
    margin: 70px 0px 0px 80px;
    padding-top: 70px;
    width: 40%;
    font-size: 10ch;
}

.desc{
    margin: 30px 0px 0px 80px;
    width: 300px;
}

.sec{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 800px;
}

.sec_title{
    margin: 0%;
    text-align: center;
    font-size: 4ch;
    color:rgb(106, 172, 172)
    
}